:root {
  --base-padding: 60px;
  --primary-color: #615ff8;
  --secondary-color: #140f49;
  --gray: light-gray;
  --big-border-radius: 20px;
  --small-border-radius: 5px;
  --big-margin: 35px;
  --medium-margin: 20px;
  --small-margin: 10px;
}